*
!Dockerfile
!LICENSE
!docker/
!docker/**
!patches/
!patches/stage3-packed-ckv/
!patches/stage3-packed-ckv/overlays/
!patches/stage3-packed-ckv/overlays/**
!patches/phase2-fullcontext/
!patches/phase2-fullcontext/overlays/
!patches/phase2-fullcontext/overlays/**
!workspace/
!workspace/vllm-v20-prod-integration-head/
!workspace/vllm-v20-prod-integration-head/vllm/
!workspace/vllm-v20-prod-integration-head/vllm/**
!workspace/vllm-v20-prod-profiler-head/
!workspace/vllm-v20-prod-profiler-head/vllm/
!workspace/vllm-v20-prod-profiler-head/vllm/**
!workspace/sparkinfer-v20-current-recovery/
!workspace/sparkinfer-v20-current-recovery/sparkinfer/
!workspace/sparkinfer-v20-current-recovery/sparkinfer/**
!workspace/sparkinfer-v20-output-lifetime-fix/
!workspace/sparkinfer-v20-output-lifetime-fix/sparkinfer/
!workspace/sparkinfer-v20-output-lifetime-fix/sparkinfer/comm/
!workspace/sparkinfer-v20-output-lifetime-fix/sparkinfer/comm/pcie/
!workspace/sparkinfer-v20-output-lifetime-fix/sparkinfer/comm/pcie/pcie_dma.py
!workspace/vllm-v20-segmented-trace/
!workspace/vllm-v20-segmented-trace/vllm/
!workspace/vllm-v20-segmented-trace/vllm/model_executor/
!workspace/vllm-v20-segmented-trace/vllm/model_executor/models/
!workspace/vllm-v20-segmented-trace/vllm/model_executor/models/deepseek_v2.py
!workspace/b12x-nvfp4-dynamic-scale/
!workspace/b12x-nvfp4-dynamic-scale/sparkinfer/
!workspace/b12x-nvfp4-dynamic-scale/sparkinfer/attention/
!workspace/b12x-nvfp4-dynamic-scale/sparkinfer/attention/_shared/
!workspace/b12x-nvfp4-dynamic-scale/sparkinfer/attention/_shared/mla/
!workspace/b12x-nvfp4-dynamic-scale/sparkinfer/attention/_shared/mla/*.py
!workspace/b12x-nvfp4-dynamic-scale/tests/
!workspace/b12x-nvfp4-dynamic-scale/tests/attention/
!workspace/b12x-nvfp4-dynamic-scale/tests/attention/test_mla_kv_cache_per_token_scale.py
!workspace/vllm-nvfp4-dynamic-scale/
!workspace/vllm-nvfp4-dynamic-scale/vllm/
!workspace/vllm-nvfp4-dynamic-scale/vllm/model_executor/
!workspace/vllm-nvfp4-dynamic-scale/vllm/model_executor/layers/
!workspace/vllm-nvfp4-dynamic-scale/vllm/model_executor/layers/mla.py
!workspace/vllm-nvfp4-dynamic-scale/vllm/v1/
!workspace/vllm-nvfp4-dynamic-scale/vllm/v1/attention/
!workspace/vllm-nvfp4-dynamic-scale/vllm/v1/attention/backends/
!workspace/vllm-nvfp4-dynamic-scale/vllm/v1/attention/backends/mla/
!workspace/vllm-nvfp4-dynamic-scale/vllm/v1/attention/backends/mla/b12x_mla_sparse.py
**/__pycache__/
**/*.py[cod]
